<div class="container">
  <div class="jumbotron">
    <h1>Encontre livros perto de você</h1>
    <p class="lead">Pesquise pelo livro que você quer e encontre pessoas dispostas a emprestá-lo, trocá-lo ou doá-lo.</p>
    <input type="text" placeholder="Ex: O Mundo de Sofia"/>
    <a class="btn btn-sm btn-primary ml-auto" href="#" role="button">Buscar</a>
  </div>
</div>
