/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  font-weight: bold;
  font-size: 17px;
}

.navbar-inverse .navbar-nav a {

  img {
    margin-right: 10px;
  }

  img.user-avatar {
    display: inline-block;
  }

  @media (min-width: 992px) {
    img {
      margin: 0 auto;
      display: block;
    }

    img.user-avatar {
      margin-right: 5px;
      margin-left: 10px;
    }
  }
}

.user-avatar {
  border-radius: 50px;
  border: 2px solid #333;
}

/* Enable Bootstrap Hover Drop Downs */
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
